* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    width: fit-content;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
}

h1 {
    margin-bottom: 30px;
}

.buttons {
    position: relative;
    height: 60px;
    width: 500px
}

button {
    padding: 10px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
    margin-right: 10px;
}

#noBtn {
    background-color: #adb5bd;
    color: white;
    position: absolute;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #ff4d6d;
}

.reaction-img {
    position: absolute;
    max-width: 140px;
    max-height: 140px;
    border-radius: 12px;
    display: none;
    z-index: 1;
    pointer-events: none;
}
